<div class="moonboard">
    <!-- <mat-card class="card_style">
        <mat-card-title color="accent">
            {{"About"}}
        </mat-card-title>
        <mat-card-content>
            <p>
                {{"CiaoCiaoCiaoCiaoCiaoCiaoCiaoCiaoCiaoCiaoCiaoCiaoCiaoCiaoCiaoCiaoCiaoCiaoCiaoCiaoCiaoCiaoCiaoCiaoCiaoCiaoCiaoCiaoCiaoCiaoCiaoCiao"}}
            </p>
        </mat-card-content>
    </mat-card> -->
    <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Lattaruolo Andrea</mat-card-title>
          <mat-card-subtitle>Portfolio</mat-card-subtitle>
        </mat-card-header>
        <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
        <mat-card-content>
          <p>
            Hello my name is Andrea, I graduated in december of 2020 from the master computer science degree from the University of Udine.
            I have been working in the company Fondazione Bruno Kessler since march 2024.  
          </p>
          <p>
            Hello my name is Andrea, I graduated in december of 2020 from the master computer science degree from the University of Udine.
            I have been working in the company Fondazione Bruno Kessler since march 2024.  
          </p>
          <p>
            Hello my name is Andrea, I graduated in december of 2020 from the master computer science degree from the University of Udine.
            I have been working in the company Fondazione Bruno Kessler since march 2024.  
          </p>
        </mat-card-content>
        <!-- <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions> -->
      </mat-card>

</div>
