.container{
  /* height: 100vh;
  width: 100vw; */
  position:relative;
  background-color: rgb(52, 185, 185);
  padding-top: 64px;
}

.info-widget {
    width: 77vw;
  }

  .left-button{
    /* float: left; */
    position:absolute;
    /* position: absolute; */
    margin-top: 28vh;
    margin-left: 1vw;
  }

  .right-button{
    position: absolute;
    margin-top: 28vh;
    margin-left: 95vw;
    /* margin-left: 95%; */
    /* margin-right: 20px; */
  }

  @media screen and (max-width:480px) {
    .right-button{
      position: absolute;
      margin-top: 28vh;
      margin-left: 88vw;
      /* margin-left: 95%; */
      /* margin-right: 20px; */
    }
  
}


  .middle {
    min-height: 400px;
    /* overflow: auto; */
    /*will change this to hidden later to deny scolling to user*/
    white-space: nowrap;
    overflow-x: hidden;
  }

  .card_style{
    margin-left: 5%;
    margin-right: 5%;
}

.example-card {
  min-height: 50vh;
    /* width: 80vw; */
    /* width: 90%;
    height: 80%; */
    
  }
  .spacer{
    width: 100px;
    height: 6vh;
  }
  .example-header-image {
    /* background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover; */
  }

  .full-dimension{
    height: 100vh;
    width: 100vw;
  }

  .nine-dimension{
    height: 90vh;
    width: 89vw;
    margin-left: 4vw;

  }

  .media-scroller{
    --spacer: 12px;
    display: grid;
    gap: var(--spacer);
    grid-auto-flow: column;
    /* grid-auto-columns: 25%; */
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    /* overflow-x: hidden; */
  }

  .media-scroller::-webkit-scrollbar{
    display: none;
    -ms-overflow-style: none;   
    scrollbar-width: none;   
  }

  .snap-inline{
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: var(--spacer, 12px);
  }

  .snap-inline > *{
    scroll-snap-align: start;
  }