.carousel-container {
  width: 100%;
  overflow: hidden;
  position: relative;
}
.carousel-track {
  display: flex;
  transition: transform 0.3s ease-in-out;
}
.carousel-card {
  background-color: bisque;
  flex: 0 0 80%;
  max-width: 80%;
  padding: 10px;
  margin-left: 10%;
  margin-right: 10%;
  box-sizing: border-box;
}
.carousel-card img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 8px;
}
.card-content {
  padding: 10px;
}
.carousel-control {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  color: black;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
  font-size: xx-large;
  text-align: center;
}
.prev { left: 10px; }
.next { right: 10px; }

@media (max-width: 768px) {
  .carousel-container {
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
  }
  .carousel-track {
    display: flex;
    flex-wrap: nowrap;
  }
  .carousel-card {
    scroll-snap-align: center;
  }
  .carousel-card:last-child {
    margin-right: 10%; /* Add space to the right of the last card */
  }
}

.carousel-dots {
  text-align: center;
  bottom: 10px;
  width: 100%;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: lightgray;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.dot.active {
  background-color: black;
}