<div class="carousel-container">
  <div class="carousel-slides">
    @for(image of images; track $index){
    <div
      class="carousel-slide"
      [class.active]="$index === currentSlide"
    >
      <img [src]="image" alt="Slide {{ $index + 1 }}" />
    
    </div>
  }
  </div>

  <a class="carousel-control prev" (click)="prevSlide()">&#10094;</a>
  <a class="carousel-control next" (click)="nextSlide()">&#10095;</a>

  <div class="carousel-dots">
    @for(item of images; track $index){
      <span
      class="dot"
      [class.active]="$index === currentSlide"
      (click)="setSlide($index)"
    ></span>
    }

  </div>
</div>
