<div class="carousel-container" #carouselContainer>
  <div class="carousel-track" [style.transform]="'translateX(' + -currentIndex * 100 + '%)'">
    @for(slide of slides; track $index){
    <div class="carousel-card"#carouselCard>
        <img [src]="slide.image" [alt]="slide.alt">
        <div class="card-content">
          <h3>{{ slide.title }}</h3>
          <p>{{ slide.description }}</p>
          <div class="carousel-dots">
            @for(slide of slides;track idx; let idx = $index){
            <span
              class="dot"
              [class.active]="idx === indexForDotsMobile"
            ></span>
          }
          </div>
        </div>
      </div>
    @if(isMobile){
      <span style="width: 30px;height: 10px; color:rebeccapurple" >k</span>
    }
    }

  </div>
  
  @if(! isMobile){
    <a class="carousel-control prev" (click)="onPreviousClick()" >&#10094;</a>
    <a class="carousel-control next" (click)="onNextClick()" >&#10095;</a>
  }
</div>