<div class="parallax-container" #parallaxContainer>
    <!-- Background Image -->
    <div class="background-layer">
        <img src="../assets/images/background.webp" alt="Background" class="background-image">
    </div>
    <div class="glow-center"></div>

    <!-- Cabin Image with Zoom Effect -->
    <!-- <div class="cabin-layer" [style.transform]="'scale(' + cabinScale + ') translateY(' + cabinOffset + 'px)'">
        <img src="../assets/images/cabin.jpg" alt="Cabin" class="cabin-image">
    </div> -->
</div>