<!-- <app-cube class="cube"></app-cube> -->
<app-navbar class="navbar"></app-navbar>

<!-- <nav style="background-color: aqua;"> 
    <ul>
        @for (item of [1,2,3,4,5,6,7,8,9,10]; track $index) {
            <li><a href="#{{item}}">{{item}}</a></li> 

        }
    </ul> 
  </nav>  -->
<div class="spacer_model"></div>
<section id="about" class="view_height">
    <app-about></app-about>
</section>
<section id="projects" class="view_height red">
    <div style="height: 25vh;width: 100%;"></div>
    <app-projects></app-projects>
</section>
<section id="contacts" class="view_height">
    <app-contact></app-contact>
</section>